body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  background: #003366;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  background: #0055a5;
  padding: 0.5rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

main {
  max-width: 800px;
  margin: 1rem auto;
  padding: 0 1rem;
}

.news-card {
  background: #f1f1f1;
  margin: 15px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.news-card h3 {
  margin: 0 0 10px 0;
}

.news-card p {
  margin: 0 0 10px 0;
}

.news-card a {
  text-decoration: none;
  color: #004aad;
  font-weight: bold;
}

footer {
  background: #b9b9b9;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;

}

#pencet {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

#pencet {
  span {
    display: block;
    width: 100%;
    height: 2px;
    margin: 3px 0;
    transition: all 0.3s ease;
    transform-origin: 0 0;
  }

  span.top {
    background-color: #ffffff;
  }

  span.middle {
    background-color: #ffffff;
  }

  span.middle1 {
    background-color: #ffffff;
  }

  span.bottom {
    background-color: #ffffff;
  }
}

#pencet.Diam {
  span:nth-child(1) {
    transform: rotate(45deg) translate(-4px, 2px);
    width: 1.2rem;
  }

  span:nth-child(2) {
    transform: rotate(45deg) translate(12px, -4px);
    width: 1.2rem;
  }

  span:nth-child(3) {
    transform: rotate(313deg) translate(10px, 4px);
    width: 1.2rem;
  }

  span:nth-child(4) {
    transform: rotate(310deg) translate(-6px, -1px);
    width: 1.2rem;
  }
}

@media (max-width: 576px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #003366;
    position: absolute;
    top: 202px;
    left: 0;
    z-index: 1000;
    align-items: center;
  }
  
  nav ul.active {
        display: flex;
    }

  #pencet {
        display: flex;
    }
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a.active {
  text-decoration: underline;

}